<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <header>
        <nav class="navbar">
           <img src="/icons/logo.png" alt="GFU_logo" class="logo">
            <div class="logo">Dashboard</div>
            <ul class="nav-links">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/courses">Courses</a></li>
                <li><a href="#">Student Services</a></li>
            </ul>
            <div class="settings-icon">
                <a href="/profile"><img src="/icons/settings.png" alt="Settings"></a>   
            </div>
        </nav>
    </header>

    <main>
        <div class="dashboard-content">
            <h1><%= "Welcome " + profile.first_name + profile.last_name || "Welcome User" %>!</h1>
            <div class="sections">
                <div class="notifications">
                    <h2>Notifications</h2>
                    <p>No new notifications</p>
                </div>
                <div class="events">
                    <h2>Events and News</h2>
                    <p>No upcoming events</p>
                </div>
                <div class="classes">
                    <h2>Classes</h2>
                    <div class="class-grid">
                        <div>
                            <h3>Today</h3>
                            <p>Computer Science<br>12:00 - 2:00 PM</p>
                        </div>
                        <div>
                            <h3>Tomorrow</h3>
                            <p>No classes scheduled</p>
                        </div>
                        <div>
                            <h3>Coming Up</h3>
                            <p>No upcoming classes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 GFU. All rights reserved.</p>
    </footer>
    <script src="/javascript/dashboard.js"></script>
</body>
</html>

