<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="/icons/logo.png" alt="GFU_logo" class="logo">
            <div class="logo">Dashboard</div>
            <ul class="nav-links">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Student Services</a></li>
            </ul>
            <div class="settings-icon">
                <img src="/icons/settings.png" alt="Settings">
            </div>
        </nav>
    </header>

    <footer>
        <p>&copy; 2025 GFU. All rights reserved.</p>
    </footer>
</body>
</html>
