/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #2e8b57; /* Greenish theme */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #dff0d8; /* Lighter green on hover */
}

.settings-icon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.logo {
    width: 75px;
}

/* Footer styles */
footer {
    background-color: #2e8b57; /* Same greenish theme */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9em;
}
