/* General styles */
body {
    font-family: "Arial", sans-serif;
    background-color: #1c1e22;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

/* Profile container */
#profile-container {
    width: 90%;
    max-width: 1100px;
    background-color: #1e1f24;
    border: 2px solid #444;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    height: 80%;
}

.photo-container {
    display: flex;
    background-color: #ffffff;
    width: 40vh;
    margin-left: auto;
    margin-bottom: -62.5vh;
    height: 60vh;
    border-radius: 15px;
    position: relative; 
    justify-content: center;
    align-items: center;   
  }

.profile-header {
    display: flex;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70vh;
}


.photo-container h1 {
    width: 100%; 
    text-align: center; 
    color: black; 
    height: 100px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

.photo-container h4 {
    position: absolute; 
    bottom: -70px;
    left: 0; 
    width: 100%; 
    text-align: center; 
    color: white; 
  }

.photo-container h3 {
    position: absolute; 
    bottom: -45px;
    left: 0; 
    width: 100%; 
    text-align: center; 
    color: white; 
  }

.info-container h3 {
    color: #00a651;
    margin-bottom: 5px;
}

.info-container h4 {
    margin: 0;
    padding: 5px 10px;
    border: 3px solid #00a651;
    border-radius: 5px;
    color: #ffffff; 
    background-color: #1e1f24; 
    width: inherit;
}

.edit-button, .save-button {
    float: right;
    background-color: #00a651; 
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover, .save-button:hover {
    background-color: #007b3e; /* Darker green on hover */
}

.info-container input {
    margin: 0;
    padding: 5px 10px;
    border: 3px solid white;
    border-radius: 5px;
    color: #ffffff; 
    background-color: #1e1f24; 
    width: inherit;
    font-size: 1em;
    font-weight: bold;
}

.default_image {
    width: 300px;
    height: 300px;
}

.logo {
    width: 100px;
    margin-left: auto;
    margin-right: 107.5px;
}